  body{

     margin-top: 10px;
     overflow-x: hidden;
     background-color: black;
  
      color: white;
       }
       .image{
       	height: 40px;
       	width: 100px;
       }
       .save_button {
    min-width: 100px;
    max-width: 125px;
      box-shadow: 0px 10px 10px -7px #888888;

}
.sp{
	font-size:1.5em;
}
.disp{
	display: none;
}
.size{
	font-size:1.5em;
}